parameters:
    datatables.class: Devhelp\DatatableBundle\Lib\Datatable

services:
    datatables:
        class: "%datatables.class%"
        scope: request
        arguments: ["@knp_paginator","@jms_serializer","@doctrine.orm.default_entity_manager","@?request=", "%default_per_page%", "%grids%"]
    devhelp.twig.datatable_extension:
        class: Devhelp\DatatableBundle\Twig\DatatableExtension
        tags:
            - { name: twig.extension }